{:kotoba.app/id "cloud.itonami.isic-3311", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreie3eqq5gvry3bpw6rqzhgfd7u444cs2xkso2fxmw5agne2rf6hz2m", :kotoba.app/embed-url "ipfs://bafkreie3eqq5gvry3bpw6rqzhgfd7u444cs2xkso2fxmw5agne2rf6hz2m", :published {:archive "https://kotobase.net/ipfs/bafkreie3eqq5gvry3bpw6rqzhgfd7u444cs2xkso2fxmw5agne2rf6hz2m", :size 72229, :put-status 201, :get-status 200, :at "2026-08-15T13:53:07.434Z"}}
